{erl_opts, [debug_info]}.

{deps, [
    {sync,        {git, "https://github.com/rustyio/sync.git", {branch, "master"}}}
]}.

{relx, [
    {release, { inet_utils, "0.1.0" }, [
        sasl,
        sync,
        inet_utils
    ]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}]
}.